html, body {
  display: flex; 
  flex-direction: column;
}

#app {
  font-family: 'Rowdies', cursive;
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
}

.space { 
  flex: 1; 
}

.title-content {
  margin-bottom: 30px;
  text-transform: uppercase;
  .title-menu {
    color: #EB842D;
    font-weight: bold;
    font-size: 36px;
    width: fit-content;
    position: relative;
    hr {
      position: absolute;
      bottom: -20px;
      width: 50%;
      border: 2px solid #000;
    }
  }
}

.card {
  border: 0.5 solid #000;
  .category_block.show ~ .title-menu {
    .i-up {
      display: none;
    }
    .i-down {
      display: block;
    }
  }
  .category_block ~ .title-menu {
    .i-up {
      display: block;
    }
    .i-down {
      display: none;
    }
  }
  .category_block {
    border-radius: 0 !important;
    .list-group-item.active {
      background: #EB842D;
      font-size: 16px;
    }
    .list-group-item {
      border: none !important;
      cursor: pointer;
      background: linear-gradient(to right, #EB842D 50%, white 50%);
      background-size: 201% 100%;
      background-position: right bottom;
      transition: all .4s ease-out;
      &:hover {
        color: white;
        background-position: left bottom;
        border: 0.5px solid #EB842D;
      }
    }
  }
  .title-menu {
    background: #000;
  }
  .card-body {
    .card-title {
      text-transform: uppercase !important;
      text-align: left !important;
      height: 48px;
      a {
        color: #000000;
        font-size: 16px;
        transition: 0.5s;
        &:hover {
          text-decoration: none;
          color: #EB842D;
          transition: 0.5s;
        }
      }
    }
    .card-price {
      text-align: left !important;
      color: #EB842D;
      font-size: 14px !important;
    }
    .btn-addtocart {
      font-size: 14px;
      color: #fff;
      border-radius: 0;
      border: 0.5px solid #EB842D;
      background: linear-gradient(to right, white 50%, #EB842D 50%);
      background-size: 201% 100%;
      background-position: right bottom;
      transition: all .4s ease-out;
      &:hover {
        color: #EA8025;
        background-position: left bottom;
        border: 0.5px solid #EB842D;
      }
    }
  }
}


// tablet screen
@media screen and  (max-width: 1199px) {
  .title-content {
    margin-bottom: 15px;
    .title-menu {
      font-size: 30px;
    }
  }
}


// mobile screen
@media screen and (max-width: 767px) {
  .card {
    .card-body {
      .card-title {
        height: 58px;
        a {
          font-size: 14px;
          line-height: 14px;
          letter-spacing: -0.5px;
        }
      }
      .card-price {
        font-size: 14px !important;
      }
      .btn-addtocart {
        font-size: 14px;
        width: 50px;
      }
    }
  }
  .title-content {
    margin-top: 40px;
    margin-bottom: 25px;
    .title-menu {
      font-size: 24px;
    }
  }
  .card-body {
    padding: 1rem !important;
  }
}