.header {
  min-height: 52px;
  .navbar {
    background-color: #000000;
    .navbar-brand {
      color: #FFFFFF;
    }
    .navbar-nav {
      .nav-item {
        position: relative;
        padding: 6px 12px;
        a {
          color: #FFFFFF;
        }
        &:before {
          position: absolute;
          content: '';
          bottom: 0;
          left: 0;
          width: 100%;
          opacity: 0;
          transform: scale(0, 1);
          transform-origin: left center;
          border-bottom: 4px solid #EA8025;
          transition: transform 0.3s, opacity 0.3s;
        }
        &:hover:before {
          opacity: 1;
          transform: scale(1,1);
        }
      }
    }
    button {
      outline: none;
    }
  }

  // tablet screen
  @media screen and  (max-width: 1199px) {

  }
  
  // mobile screen
  @media screen and  (max-width: 767px) {
    .navbar {
      button {
        height: 52px;
        i {
          color: #fff;
          font-size: 24px;
        }
      }
    }
  }
}