.login-page {
  min-height: 650px;
  padding: 50px;
  background-image: url("~@/assets/images/bg_login_cms.png");
  object-fit: cover;
  .container {
    background-color: rgba(137, 137, 137, 0.3);
    border: none;
    border-radius: 50px;
    text-align: center;
    min-width: 500px;
    .title-menu {
      color: #000;
    }
  }
  h3 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }
  form {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    input {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #000;
      border-radius: 0;
    }
    .form-control:focus {
      box-shadow: none;
      border-color: #000;
      background-color: transparent;
    }
    .btn-submit {
      background: #EB842D;
      color: #fff;
      border: 1px solid #EB842D;
    }
  }
}
