#content {
	text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
	background-color: #fff;
  table {
    thead {
      th {
        border-bottom: none;
        font-size: 14px;
        color: #EA8025;
      }
    }
    th {
      border-top: none;
    }
    td {
      border-top: 0.5px solid rgba(0, 0, 0, 0.8);
      label {
        color: #EA8025;
        margin-bottom: 0;
      }
    }
    td, th {
      vertical-align: middle;
      font-size: 13px;
    }
    .line-clamp {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .button-info {
      color: #03c000;
      font-size: 14px;
      &:hover {
        border: 0.5px solid #03c000;
      }
    }
    .button-delete {
      color: red;
      font-size: 14px;
      &:hover {
        border: 0.5px solid red;
      }
    }
  }
  .feature-content {
    font-size: 14px;
    .search {
      max-width: 350px;
      &:focus::placeholder {
        color: transparent;
      }
      &.form-control {
        outline: none;
        border-color: unset;
        box-shadow: none;
      }
    }
    .create-new {
      font-size: 14px;
      color: #EA8025;
      border: 0.5px solid #EA8025;
      transition: 0.2s ease-out;
      &:hover {
        color: #fff;
        background-color: #EA8025;
        transition: 0.2s ease-in;
      }
    }
  }
  &.edit-form {
    table {
      td {
        border-top: none;
      }
      .button-info {
        background: rgb(53, 192, 60);
        color: #fff;
        font-weight: bold;
        &:hover {
          border: 0.5px solid rgb(53, 192, 60);
        }
      }
      .button-delete {
        background: red;
        color: #fff;
        font-weight: bold;
        &:hover {
          border: 0.5px solid red;
        }
      }
    }
  }
  .create {
    font-size: 14px;
    .button-info {
      font-size: 14px;
      color: rgb(53, 192, 60);
      font-weight: bold;
      border: 0.5px solid rgb(53, 192, 60);
    }
    .button-delete {
      font-size: 14px;
      color: red;
      border: 0.5px solid red;
      font-weight: bold;
    }
    label {
      color: #EA8025;
    }
  }
}
table tr td button {
	margin: 5px;
}
.editPage {
	text-align: left;
	width: 100%;
	tr td:first-child {
		text-align: right;
		padding-right: 20px;
		width: 200px;
	}
}

.detailOrder {
  margin-top: 50px;
  .header {
    font-weight: bold;
  }
}