.payment-page {
  margin: 50px;
  form {
    h3 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      margin: 15px;
      margin-top: 30px;
      color: #EB842D;
    }
    table {
      width: 100%;
      tr td label {
        margin-bottom: 0;
        padding-top: 6px;
      }
    }
    .info {
      td:first-child {
        text-align: right;
        padding-right: 50px;
        width: 30%;
      }
      td:nth-child(2){
        input {
          width: 50%;
        }
      }
    }
    p {
      text-align: center;
      margin-top: 50px;
    }
    .payment-type {
      td {
        label {
          position: relative;
          padding-left: 16px;
          input {
            left: 0;
            margin-left: 0;
          }
        }
      }
      td:nth-child(odd){
        padding-left: 100px;
      }
    }
    .btn-payment {
      font-size: 14px;
      color: #fff;
      border-radius: 0;
      border: 0.5px solid #EB842D;
      background: linear-gradient(to right, white 50%, #EB842D 50%);
      background-size: 201% 100%;
      background-position: right bottom;
      transition: all .4s ease-out;
      &:hover {
        color: #EA8025;
        background-position: left bottom;
        border: 0.5px solid #EB842D;
      }
    }
  }

  @media screen and (max-width: 767px) {
    form {
      .info {
        tr {
          td:first-child {
            padding-right: 0;
            text-align: left;
          }
          td:nth-child(2) {
            input {
              width: 90%;
            }
          }
          td {
            padding-left: 15px !important;
          }
        }
      }
      .payment-type {
        td {
          padding-left: 15px !important;
          display: flex;
          label {
            position: relative;
            input {
              position: absolute;
              left: 0;
            }
          }
        }
        td:nth-child(odd){
          padding-left: 0;
        }
      }
    }
  }
}