.product-detail-page {
  margin: 100px;
  .title {
    h1 {
      margin-top: 25px;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      color: #EB842D;
      font-size: 28px;
      margin-bottom: -10px;
    }
    hr {
      margin-bottom: 35px;
      border: 2px solid #EB842D;
      width: 100px;
    }
    p span {
      font-weight: bold;
    }
    .button {
      text-align: center;
      .btn-addtocart {
        font-size: 14px;
        color: #fff;
        border-radius: 0;
        border: 0.5px solid #EB842D;
        background: linear-gradient(to right, white 50%, #EB842D 50%);
        background-size: 201% 100%;
        background-position: right bottom;
        transition: all .4s ease-out;
        &:hover {
          color: #EA8025;
          background-position: left bottom;
          border: 0.5px solid #EB842D;
        }
      }
    }
  }
}