.user-profile-page {
  margin: 50px;
  img {
    padding-bottom: 15px;
  }
  .card {
    .list-group-item {
      color: #000;
      border: 0.5px solid #EB842D !important;
      &:hover {
        text-decoration: none;
      }
    }
  }
  form {
    label {
      color: #EB842D;
    }
    input, select {
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #000;
    }
    .form-control:focus {
      box-shadow: none;
      border-color: #000;
    }
  }
  .submit-btn {
    text-align: center; 
    margin-top: 50px;
    .btn-save {
      background: #fff;
      color: #EB842D;
      border: 1px solid #EB842D;
    }
  }
}
