<template>
  <div class="container content-products my-4">
    <div class="row">
      <div class="col-12 col-sm-3">
        <div class="card d-flex bg-light mb-3">
          <ul class="order-2 collapse list-group category_block" id="collapseExample">
            <li class="list-group-item" v-for="item of listCate" :key="item.id" :class="{ active: item.id === idCate }" @click.prevent="idCate = item.id">
              {{ item.name }}
            </li>
          </ul>
          <div class="order-1 title-menu d-flex justify-content-between card-header text-white text-uppercase" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Danh mục
            <div class="icon-updown d-flex align-items-center">
              <i class="fas fa-caret-down i-up"></i>
              <i class="fas fa-caret-up i-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <!-- ================= SẢN PHẨM NỔI BẬT ================= -->
        <div class="row title-content">
          <div class="col-12 col-lg-6">
            <h3 class="title-menu">
              Sản phẩm
              <br/><hr/>
            </h3>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-lg-4 mb-4" v-for="item of listProducts" :key="item.id" >
            <div class="card">
              <img class="card-img-top" :src="item.image" :alt="item.name" />
              <div class="card-body">
                <div class="card-title mb-1 mb-xl-4">
                  <router-link :to="`/chi-tiet-san-pham/${item.id}`">
                    {{ item.name }}
                  </router-link>
                </div>
                <p class="card-price mb-1">
                  Giá: {{ formatPrice(+item.price || 0) }} đ
                </p>
                <div class="add-to-cart d-flex d-md-block justify-content-center">
                  <button @click="addCart(item)" class="btn btn-addtocart">
                    <div class="d-none d-md-block text">THÊM VÀO GIỎ</div>
                    <i class="d-md-none fas fa-shopping-cart"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { getAllCategory } from "@/services/category";
import { getByCategory } from "@/services/product";

export default {
  name: "Product",

  data() {
    return {
      listCate: [],
      listProducts: [],
      idCate: null,
    };
  },

  watch: {
    idCate() {
      this.getProduct(this.idCate);
    },
  },

  methods: {
    addCart(item) {
      let carts = {};
      try {
        carts = JSON.parse(localStorage.getItem("LIST_CART")) || {};
      } catch (_) {
        console.log(_);
      }

      if (carts[item.id]) {
        carts[item.id].quantity = carts[item.id].quantity + 1;
      } else {
        carts[item.id] = {
          ...item,
          quantity: 1,
        };
      }
      this.$toast.success("Thêm giỏ hàng thành công");
      localStorage.setItem("LIST_CART", JSON.stringify(carts));
    },

    async getAllCate() {
      let loader = this.$loading.show({ container: this.$refs.content });
      this.listCate = await getAllCategory()
        .then((res) => {
          if (res.data[0]) {
            this.idCate = res.data[0].id;
          }
          return res.data;
        })
        .catch(() => [])
        .finally(() => loader.hide());
    },

    async getProduct(id) {
      let loader = this.$loading.show({ container: this.$refs.content });
      this.listProducts = await getByCategory({ id, quantity: 100 })
        .then((res) => {
          return res.data;
        })
        .catch(() => [])
        .finally(() => loader.hide());
    },

    formatPrice(n, currency, fix = 1) {
      if (!currency) currency = "";
      if (!n || n === 0) return 0 + ` ${currency}`;
      return (
        n.toFixed(fix).replace(/(\d)(?=(\d{3})+\.)/g, "$1,") + " " + currency
      );
    },
  },

  mounted() {
    this.getAllCate();
  },
};
</script>

<style>
.list-group-item.active a {
  color: #fff !important;
}
</style>
