<template>
  <div class="container cart-page my-3">
    <div class="title-content">
      <h2 class="title-menu mx-auto">
        Giỏ hàng
      </h2>
    </div>
    <form method="post">
      <table>
        <tr>
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
          <th>Giá tiền</th>
          <th>Thao tác</th>
        </tr>
        <tr v-for="item of listProducts" :key="item.id">
          <td>{{ item.name }}</td>
          <td><input type=number :value="item.quantity" @change="updateCart(item.id, $event.target.value)" ></td>
          <td>{{ formatPrice(item.quantity * (+item.price || 0)) }} đ</td>
          <td><button type="button" @click="removeCareItem(item.id)" class="btn btn-danger btn-sm">Xóa</button></td>
        </tr>
        
        <tr class="total-price">
          <td class="text-right" colspan="2">
            Tổng Tiền:
          </td>
          <td class="d-md-none text-left" colspan="2">{{ totalPricae() }}</td>
          <td class="d-none d-md-block">{{ totalPricae() }}</td>
        </tr>

        <tr>
          <td class="btn-order text-center" colspan="4">
            <router-link :to="{name: 'Payment'}" >
               <button type="button" class="btn">ĐẶT HÀNG</button>
            </router-link>
          </td>
        </tr>
      </table>
    </form>
  </div>
</template>


<script>

export default {
  name: 'Cart',

  data () {
    return{
      listProducts: [],
    }
  },

  
  methods:{

    formatPrice(n, currency, fix = 1) {
      if(!currency) currency = "";
      if(!n || n === 0) return 0 + ` ${currency}`;
      return n.toFixed(fix).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ' + currency;
    },

    removeCareItem(id){
      let carts = {};
      try{
        carts = JSON.parse(localStorage.getItem('LIST_CART')) || {};
      }catch(_){console.log(_)}

      delete carts[id];

      this.$toast.success("Xoá thành công");
      localStorage.setItem('LIST_CART', JSON.stringify(carts))
      this.getListCart();

    },

    totalPricae(){
      let price = 0;

      for(let item of this.listProducts){
        price += (+item.price * item.quantity || 0)
      }

      return `${this.formatPrice(price)} đ`
    },

    updateCart(id, quantity){
      let carts = {};
      try{
        carts = JSON.parse(localStorage.getItem('LIST_CART')) || {};
      }catch(_){console.log(_)}

      if(carts[id]){
        carts[id].quantity = quantity
      }
      this.$toast.success("Cập nhật giỏ hàng thành công");
      localStorage.setItem('LIST_CART', JSON.stringify(carts))
      this.listProducts = Object.values(carts)
    },

    getListCart(){
      let carts = {};
      try{
        carts = JSON.parse(localStorage.getItem('LIST_CART')) || {};
      }catch(_){console.log(_)}

      this.listProducts = Object.values(carts)
    }

  },

   mounted(){
    this.getListCart()
   }

}
</script>
