<template>
  <div id="content" class="vld-parent py-4">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Mã ĐH</th>
          <th>Ngày đặt hàng</th>
          <th class="d-none d-md-table-cell">Địa Chỉ</th>
          <th class="d-none d-md-table-cell">Tổng tiền</th>
          <th class="d-none d-md-table-cell">Trạng thái</th>
          <th>Xem chi tiết</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) of list" :key="index">
					<td>{{ item.id }}</td>
					<td>{{ converTime(item.time) }}</td>
          <td class="d-none d-md-table-cell">{{ item.address }}</td>
          <td class="d-none d-md-table-cell">{{ formatPrice(+item.totalPrice2 || 0) }}đ</td>
					<td class="d-none d-md-table-cell">
            {{
              item.status === '1' ? 'Chờ duyệt' 
              : (item.status === '2' ? 'Đang tiến hành' : 'Đã hoàn thành')
            }}
          </td>
          <td>
            <router-link :to="`/detail-order/${ item.id }`">
              <button type="button" class="btn button-info">Chi tiết</button>
            </router-link>
          </td>
				</tr>
      </tbody>
    </table>
  </div>
</template>

<script>

import { getCartUser } from '@/services/cart';

export default {
  name: 'OrderHistory',

  data () {
    return{
      list: []
    }
  },
  
  methods:{
    converTime(time){
      let currency = "/";
      let fullDate = new Date(+time);

      let dd   = fullDate.getDate();
      if( dd < 10 )  dd = '0' + dd;

      let mm   = fullDate.getMonth() + 1;
      if( mm < 10 )  mm = '0' + mm;

      let yyyy   = fullDate.getFullYear();

      return dd + currency + mm + currency + yyyy;
    },

    formatPrice(n, currency, fix = 1) {
      if(!currency) currency = "";
      if(!n || n === 0) return 0 + ` ${currency}`;
      return n.toFixed(fix).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ' + currency;
    },

    async getAllCart(){
      let loader = this.$loading.show({ container:  this.$refs.content });

      this.list = await getCartUser()
        .then(res => {
          return res.data;
        })
        .catch(() => [])
        .finally(() => loader.hide())
    }

  },

   mounted(){
    this.getAllCart()
   }

}
</script>

<style>
.list-group-item.active a{
    color: #fff !important
}
</style>