<template>
  <div class="container payment-page">
    <div class="title-content">
      <h2 class="title-menu mx-auto">
        Thanh Toán
      </h2>
      <hr class="w-50" />
    </div>
    <div class="row">
      <div class="col-12">
        <form action="#" method="post" @submit.prevent="paymentCart">
          <h3>1. Thông tin giao hàng</h3>
          <table class="info">
            <tr>
              <td><label for="address">Địa chỉ</label></td>
              <td><input type="text" v-model="data.address" class="form-control" placeholder="Nhập địa chỉ của bạn..." id="address"></td>
            </tr>
          </table>
          <h3>2. Hình thức thanh toán</h3>
          <table class="payment-type">
            <tr>
              <td><label for="radio1"><input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Thanh toán khi giao hàng</label></td>
              <td><label for="radio2"><input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2" checked>Visa/Master Card/JCB</label></td>
            </tr>
            <tr>
              <td><label for="radio3"><input type="radio" class="form-check-input" id="radio3" name="optradio" value="option3" checked>Thẻ ATM nội địa</label></td>
              <td><label for="radio4"><input type="radio" class="form-check-input" id="radio4" name="optradio" value="option4" checked>Momo</label></td>
            </tr>
            <tr>
              <td><label for="radio5"><input type="radio" class="form-check-input" id="radio5" name="optradio" value="option5" checked>ZaloPay</label></td>
              <td><label for="radio6"><input type="radio" class="form-check-input" id="radio6" name="optradio" value="option6" checked>AirPay</label></td>
            </tr>
          </table>
          <p><button type="submit" class="btn btn-payment">Thanh toán</button></p>
        </form>
      </div>
    </div>
  </div>
</template>



<script>

import { addCart } from '@/services/cart';


export default {
  name: 'Cart',

  data () {
    return{
      listProducts: [],
      data: {
        address: ""
        
      },
    }
  },

  
  methods:{
    async paymentCart(){
      if(!this.data.address.length){
        this.$toast.error("Chưa nhập địa chỉ");
      }else{
        let productList = '';
        let quantityList = '';
        let priceList = '';
        let totalPrice1 = this.totalPricae();
        let totalPrice2 = this.totalPricae();

        for(let item of this.listProducts){
          productList += item.id + ',';
          quantityList += item.quantity + ',';
          priceList += (item.quantity * (+item.price || 0) ) + ',';
        }

        productList = productList.replace(/,$/, '');
        quantityList = quantityList.replace(/,$/, '');
        priceList = priceList.replace(/,$/, '');

        const data = {
          productList,
          quantityList,
          priceList,
          totalPrice1: totalPrice1.toString(),
          totalPrice2: totalPrice2.toString(),
          status: '1',
          address: this.data.address,
        }
        
        let loader = this.$loading.show({ container:  this.$refs.content });

        addCart(data)
          .then((res) => {
            if(res.status === 'ok'){
              this.$toast.success("Đặt hàng thành công!");
              localStorage.removeItem('LIST_CART')
              this.$router.push({name: 'Home'})
            }else this.$toast.error(res.message);
            
          })
          .catch((e) => {
            this.$toast.error(e.message);
          })
          .finally(() => loader.hide())

      }
    },

    formatPrice(n, currency, fix = 1) {
      if(!currency) currency = "";
      if(!n || n === 0) return 0 + ` ${currency}`;
      return n.toFixed(fix).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ' + currency;
    },

    removeCareItem(id){
      let carts = {};
      try{
        carts = JSON.parse(localStorage.getItem('LIST_CART')) || {};
      }catch(_){console.log(_)}

      delete carts[id];

      this.$toast.success("Xoá thành công");
      localStorage.setItem('LIST_CART', JSON.stringify(carts))
      this.getListCart();

    },

    totalPricae(){
      let price = 0;

      for(let item of this.listProducts){
        price += (+item.price * item.quantity || 0)
      }

      return price
    },

    updateCart(id, quantity){
      let carts = {};
      try{
        carts = JSON.parse(localStorage.getItem('LIST_CART')) || {};
      }catch(_){console.log(_)}

      if(carts[id]){
        carts[id].quantity = quantity
      }
      this.$toast.success("Cập nhật giỏ hàng thành công");
      localStorage.setItem('LIST_CART', JSON.stringify(carts))
      this.listProducts = Object.values(carts)
    },

    getListCart(){
      let carts = {};
      try{
        carts = JSON.parse(localStorage.getItem('LIST_CART')) || {};
      }catch(_){console.log(_)}

      this.listProducts = Object.values(carts)
    },

    checkLogin(){
      let token = null;
      try{
        token = JSON.parse(localStorage.getItem("TOKEN_PL"))
      }catch(e){console.log(e)}
      if(token){
        this.getListCart();

        if(!this.listProducts.length){
          this.$toast.warning("Bạn chưa có sản phẩm nào");
          this.$router.push({name:'Home' })
        }
      }else {
        this.$router.push({name:'Login' })
      }
    }

  },

   mounted(){
     this.checkLogin()
    
   }

}
</script>
