<template>
  <div class="container product-detail-page">
    <div class="row" v-if="product">
      <div class="col-6">
        <img :src="product.image" width="100%">
      </div>
      <div class="col-6 title">
        <h1>{{ product.name }}</h1>
        <hr>
        <p><span>Giá:</span> {{ formatPrice(+product.price || 0) }}  đ</p>
        <p><span>Mô tả:</span> {{ product.description }}</p>
        <div class="button">
          <button @click="addCart(product)" class="btn btn-addtocart" id="noi-bat">THÊM VÀO GIỎ</button>
        </div>
      </div>
    </div>

    <div class="title" style="margin-top: 50px;">
      <h1>Sản phẩm tương tự</h1>
      <hr>
    </div>
    <div class="row" style="margin-top: 50px;">
      <div class="col-12 col-md-6 col-lg-3" v-for="item of listProducts" :key="item.id">
        <div class="card">
          <img class="card-img-top" :src="item.image" :alt="item.name">
          <div class="card-body">
              <div class="card-title">
                <router-link :to="`/chi-tiet-san-pham/${item.id}`" >
                  {{ item.name }}
                </router-link>
              </div>
              <p class="card-price">Giá: {{ formatPrice(+item.price || 0) }} đ</p>
              <div class="row button">
                <button  @click="addCart(item)" class="btn btn-addtocart">THÊM VÀO GIỎ</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import { getAllCategory } from '@/services/category';
import { getByCategory, getProduct } from '@/services/product';

export default {
  name: 'Product',

  data () {
    return{
      listProducts: [],
      product: null
    }
  },

  watch: {
    ['$route.params.id']() {
     this.getItem()
     window.scrollTo(0, 0)
    }
  },
  
  methods:{
    async getAllCate() {
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.listCate = await getAllCategory()
        .then(res => {
            if(res.data[0]){
                this.idCate = res.data[0].id
            }
            return res.data;
        })
        .catch(() => [])
        .finally(() => loader.hide())
    },

    async getProductMore(id) {
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.listProducts = await getByCategory({id, quantity: 4})
        .then(res => {
          return res.data;
        })
        .catch(() => [])
        .finally(() => loader.hide())
    },

    formatPrice(n, currency, fix = 1) {
      if(!currency) currency = "";
      if(!n || n === 0) return 0 + ` ${currency}`;
      return n.toFixed(fix).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ' + currency;
    },

    async getItem(){
      const id = this.$route.params.id;
      this.product = await getProduct(id)
        .then(r => {
          if(r.status === 'error') return Promise.reject(r)
          this.getProductMore(r.data.category)
          return r.data
        })
        .catch(() =>{
          this.$toast.error("Item not found");
          this.$router.push({name: 'Products'})
        })
    },

    addCart(item){
      let carts = {};
      try{
        carts = JSON.parse(localStorage.getItem('LIST_CART')) || {};
      }catch(_){console.log(_)}

      if(carts[item.id]){
        carts[item.id].quantity = carts[item.id].quantity + 1;
      }else {
        carts[item.id] = {
          ...item,
          quantity: 1
        }
      }
      this.$toast.success("Thêm giỏ hàng thành công");
      localStorage.setItem('LIST_CART', JSON.stringify(carts))
    }

  },

   mounted(){
    this.getItem()
   }

}
</script>

<style>
.list-group-item.active a{
    color: #fff !important
}
</style>