<template>
  <div class="container user-profile-page">
    <div class="title-content">
      <h2 class="title-menu mx-auto">
        Thông Tin Cá Nhân
      </h2>
      <hr class="w-50" />
    </div>
    <form action="#" method="post"  @submit.prevent="updateAccount()">
      <div class="row pt-3">
        <div class="col-md-3">
           <div class="card mb-3">
              <ul class="list-group category_block">
                <router-link class="list-group-item" :to="{name: 'OrderHistory'}" >
                  Lịch sử mua hàng
                </router-link>
              </ul>
            </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-6">
            <div class="form-group">
              <label for="name">Họ và tên</label>
              <input type="text" class="form-control"  v-model="data.userName" id="name" :class="{ 'is-invalid': submitted && $v.data.userName.$error }">
              <div v-if="submitted && $v.data.userName.$error" class="invalid-feedback">
                <span v-if="!$v.data.userName.required"> {{ 'Vui lòng nhập tên tài khoản.' }} </span>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" v-model="data.email" class="form-control" value="1513804@hcmut.edu.vn" id="email" :class="{ 'is-invalid': submitted && $v.data.email.$error }">
              <div v-if="submitted && $v.data.email.$error" class="invalid-feedback">
                <span v-if="!$v.data.email.required"> {{ 'Vui lòng nhập email của bạn.' }} </span>
                <span v-if="!$v.data.email.email"> {{ 'Email hoặc mật khẩu của bạn không chính xác.' }}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="birthDate">Ngày sinh</label>
              <input type="date" v-model="data.dateOfBirth" class="form-control" id="birthDate" :class="{ 'is-invalid': submitted && $v.data.dateOfBirth.$error }">
              <div v-if="submitted && $v.data.dateOfBirth.$error" class="invalid-feedback">
                <span v-if="!$v.data.dateOfBirth.required"> {{ 'Vui lòng chọn ngày sinh.' }} </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="phoneNumber">Số điện thoại</label>
              <input type="text" class="form-control"  v-model="data.phone"  id="phoneNumber" :class="{ 'is-invalid': submitted && $v.data.phone.$error }">
              <div v-if="submitted && $v.data.phone.$error" class="invalid-feedback">
                <span v-if="!$v.data.phone.required"> {{ 'Vui lòng nhập số điện thoại.' }} </span>
              </div>
            </div>
            <div class="form-group">
              <label for="sex">Giới tính</label>
              <select class="form-control"  v-model="data.sex" :class="{ 'is-invalid': submitted && $v.data.sex.$error }">
                <option value="1">Nam</option>
                <option value="0">Nữ</option>
              </select>
              <div v-if="submitted && $v.data.sex.$error" class="invalid-feedback">
                <span v-if="!$v.data.sex.required"> {{ 'Vui lòng chọn giới tính.' }} </span>
              </div>
            </div>
            <div class="form-group">
              <label for="address">Địa Chỉ</label>
              <input type="text" class="form-control"  v-model="data.address"  id="address" :class="{ 'is-invalid': submitted && $v.data.address.$error }">
              <div v-if="submitted && $v.data.address.$error" class="invalid-feedback">
                <span v-if="!$v.data.address.required"> {{ 'Vui lòng nhập địa chỉ.' }} </span>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 submit-btn" style="">
          <button type="submit" class="btn btn-save">Lưu</button>
        </div>
      </div>
    </form>
  </div>
</template>


<script>
import { required, email } from "vuelidate/lib/validators";
import { updateUserData, getUserData } from '@/services/account';

export default {
  name: 'UserProfile',
  data () {
    return{
      data: {
        dateOfBirth: null,
        email: null,
        phone: null,
        sex: null,
        uid: null,
        userName: null,
        address: null,
      },
      submitted: false,
    }
  },
  validations: {
    data: {
      email: {required, email},
      dateOfBirth: {required},
      userName: {required},
      sex: {required},
      phone: {required},
      address: {required},
    }
  },

  methods:{
    async updateAccount() {
      this.submitted = true;
      this.$v.data.$touch()
      if (this.$v.data.$invalid) {
        return;
      }
      let loader = this.$loading.show({ container:  this.$refs.content });
      updateUserData(this.data)
      .then(() => {
        this.$toast.success("Cập nhật thành công")
        
      })
      .catch(() => {
        this.$toast.error("Cập nhật thất bại")
      })
      .finally(() => loader.hide())
    },

    async getData(){
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.data = await getUserData()
      .finally(() => loader.hide())
    }
  },

   mounted(){
     this.getData()
   }

}
</script>