<template>
  <div class="footer">
    <div class="container">
      <div class="row py-4">
        <div class="col-md-3 mb-4 mb-md-0 logo">TEA24H</div>
        <div class="col-6 col-md-3 block-1 mb-4 mb-md-0">
          <div class="title">THÔNG TIN</div>
          <div class="content">
            <p href="#" class="m-0 py-2">Về chúng tôi</p>
            <p href="#">Tuyển dụng</p>
          </div>
        </div>
        <div class="col-6 col-md-3 block-2 mb-4 mb-md-0">
          <div class="title">HỖ TRỢ</div>
          <div class="content">
            <p href="#" class="py-2">Hotline: 180081xx</p>
          </div>
          <div class="title">ĐỊA CHỈ CỬA HÀNG</div>
          <div class="content">
            <p href="#" class="m-0 py-2">268 Lý Thường Kiệt, P.14, Q.10, TP.HCM</p>
          </div>
        </div>
        <div class="d-none d-md-block col-md-3 block-3 mb-4 mbmd-0">
          <div class="title">CHÍNH SÁCH MUA HÀNG</div>
          <div class="content">
            <p href="#" class="m-0 py-2">Phương thức vận chuyển</p>
            <p href="#" class="m-0">Thanh toán</p>
            <p href="#" class="m-0 py-2">Voucher</p>
            <p href="#" class="m-0">Khiếu nại</p>
          </div>
        </div>
      </div>

      <div class="sub-title py-2">Copyright © 2020 by Team8. All rights reserved.</div>
    </div>
  </div>
</template>