<template>
  <div class="header">
    <nav class="navbar navbar-expand-md h-100 p-0">
      <div class="container px-3 h-100">
        <router-link :to="{name: 'Home'}" class="navbar-brand">TEA24H</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <i class="fas fa-bars"></i>
        </button>
        
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link :to="{name: 'Home'}" class="nav-link">Trang Chủ</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{name: 'Products'}" class="nav-link">Thực Đơn</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{name: 'Cart'}" class="nav-link">Giỏ hàng</router-link>
            </li> 
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <router-link v-if="isLogin" :to="{name: 'UserProfile'}" class="nav-link">Trang cá nhân</router-link>
              <router-link v-if="!isLogin" :to="{name: 'Login'}" class="nav-link">ĐĂNG NHẬP</router-link>
            </li>
            <li class="nav-item" v-if="isLogin">
              <a @click="onSignOut()" href="#" class="nav-link">Đăng xuất</a>
            </li>
          </ul>
        </div>  
      </div>
    </nav>
  </div>
</template>


<script>

export default {
  name: 'Header',
  data () {
    return{
      isLogin: false,
    }
  },

  methods:{

    checkLogin(){
      let token = null;
      try{
        token = JSON.parse(localStorage.getItem("TOKEN_PL")) || null
      }catch(e){console.log(e)}
      this.isLogin = !!token;
    },

    async onSignOut() {
      localStorage.removeItem("TOKEN_PL")
      this.$router.push({name: 'Login'})
      this.isLogin = false;
    }
  },

   mounted(){
     this.checkLogin()
   }

}
</script>
