<template>
  <div class="home">
    <Slide class="d-none d-md-block" />
    <div class="container" style="margin-top: 50px;">
      <div class="row title-content">
        <div class="col-12 col-md-6">
          <h3 class="title-menu">
            Nổi bật
            <br/><hr/>  
          </h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
            <div class="row">
                <div class="col-6 col-lg-4 mb-4 mb-md-0" v-for="item of listProducts" :key="item.id">
                    <div class="card">
                        <img class="card-img-top" :src="item.image" :alt="item.name">
                        <div class="card-body">
                            <div class="card-title mb-1 mb-xl-4">
                              <router-link :to="`/chi-tiet-san-pham/${item.id}`" >
                                {{ item.name }}
                              </router-link>
                            </div>
                            <p class="card-price mb-2">Giá: {{ formatPrice(+item.price || 0) }} đ</p>
                            <div class="row">
                                <div class="col">
                                  <a href="javascript:;" @click="addCart(item)" class="btn  btn-addtocart">THÊM VÀO GIỎ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="title-content mt-5">
        <h3 class="title-menu">
          Khuyến mãi
          <br/><hr/>
        </h3>
      </div>
      <div class="row promotion">
        <div class="col-12">
          <b-carousel id="carousel-fade" style="text-shadow: 0px 0px 2px #000" fade indicators >
            <b-carousel-slide caption="" img-src="https://images.foody.vn/images/blogs/foody-upload-api-foody-landing-636649990655945675-180619095613.jpg"></b-carousel-slide>
            <b-carousel-slide caption="" img-src="https://images.foody.vn/images/blogs/foody-upload-api-foody-landing-636649990655945675-180619095613.jpg"></b-carousel-slide>
            <b-carousel-slide caption="" img-src="https://images.foody.vn/images/blogs/foody-upload-api-foody-landing-636649990655945675-180619095613.jpg"></b-carousel-slide>
          </b-carousel>
          <h3 class="title-promotion">HAPPY MOTHER DAY - ƯU ĐÃI THÍCH MÊ</h3>
          <p>"Mẹ là duy nhất trên đời Mẹ đã quá vất vả rồi Người dũng cảm tuyệt vời là mẹ, mẹ ơi Giờ con lớn khôn rồi Và con sẽ nên người Mẹ là duy nhất trên đời Mẹ đã quá vất vả rồi Người dũng cảm tuyệt vời là mẹ, mẹ ơi Giờ con lớn khôn rồi Và con sẽ nên ngừoi Thành... ...</p>
          <button class="btn btn-warning">Xem chi tiết</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Slide from './Slide.vue'
import { getBestSelling } from '@/services/product';

export default {
  name: 'Home',
  components: {
    Slide
  },
  data () {
    return{
      listProducts: [],
    }
  },
   methods: {

    async getProduct() {
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.listProducts = await getBestSelling()
        .then(res => {
          return res.data
        })
        .catch(() => [])
        .finally(() => loader.hide())
    },

    formatPrice(n, currency, fix = 1) {
      if(!currency) currency = "";
      if(!n || n === 0) return 0 + ` ${currency}`;
      return n.toFixed(fix).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ' + currency;
    },

    addCart(item){
      let carts = {};
      try{
        carts = JSON.parse(localStorage.getItem('LIST_CART')) || {};
      }catch(_){console.log(_)}

      if(carts[item.id]){
        carts[item.id].quantity = carts[item.id].quantity + 1;
      }else {
        carts[item.id] = {
          ...item,
          quantity: 1
        }
      }
      this.$toast.success("Thêm giỏ hàng thành công");
      localStorage.setItem('LIST_CART', JSON.stringify(carts))
    }

  },

  mounted(){
    this.getProduct()
  }
}
</script>
