<template>
    <div class="login-page">
      <div class="container p-4">
        <div class="row">
          <div class="col-6">
            <div class="row title-content">
              <h3 class="title-menu w-100">
                ĐĂNG NHẬP
              </h3>
            </div>
            <form class="pt-3" action="#" method="post" @submit.prevent="onSignIn">
              <div class="form-group">
                <input type="text" class="form-control" v-model="user_sign_in.email" id="username" placeholder="Email" :class="{ 'is-invalid': submitted && $v.user_sign_in.email.$error }">
                <div v-if="submitted && $v.user_sign_in.email.$error" class="invalid-feedback">
                  <span v-if="!$v.user_sign_in.email.required"> {{ 'Vui lòng nhập email của bạn.' }} </span>
                  <span v-if="!$v.user_sign_in.email.email"> {{ 'Email hoặc mật khẩu của bạn không chính xác.' }}</span>
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control"  v-model="user_sign_in.password" id="password" placeholder="Nhập mật khẩu..." :class="{ 'is-invalid': submitted && $v.user_sign_in.password.$error }">
                <div v-if="submitted && $v.user_sign_in.password.$error" class="invalid-feedback">
                  <span v-if="!$v.user_sign_in.password.required"> {{ 'Vui lòng nhập mật khẩu.' }} </span>
                </div>
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="mt-3 btn btn-submit">Đăng nhập</button>
              </div>
            </form>
          </div>
          <div class="col-6">
            <div class="row title-content">
              <h3 class="title-menu w-100">
                ĐĂNG KÝ
              </h3>
            </div>
            <form class="pt-3" action="#" method="post"  @submit.prevent="onSigRes">
              <div class="form-group">
                <input type="text" class="form-control" v-model="user_res.userName" id="username-resgister" placeholder="Nhập tên tài khoản..." :class="{ 'is-invalid': submittedRes && $v.user_res.userName.$error }">
                <div v-if="submittedRes && $v.user_res.userName.$error" class="invalid-feedback">
                  <span v-if="!$v.user_res.userName.required"> {{ 'Vui lòng nhập tên tài khoản.' }} </span>
                </div>
              </div>
        
              <div class="form-group">
                <input type="text" class="form-control" v-model="user_res.email" id="username" placeholder="Email" :class="{ 'is-invalid': submittedRes && $v.user_res.email.$error }">
                <div v-if="submittedRes && $v.user_res.email.$error" class="invalid-feedback">
                  <span v-if="!$v.user_res.email.required"> {{ 'Vui lòng nhập email của bạn.' }} </span>
                  <span v-if="!$v.user_res.email.email"> {{ 'Email hoặc mật khẩu của bạn không chính xác.' }}</span>
                </div>
              </div>
              <div class="form-group">
                <input type="password" class="form-control"  v-model="user_res.password" id="password" placeholder="Nhập mật khẩu..." :class="{ 'is-invalid': submittedRes && $v.user_res.password.$error }">
                <div v-if="submittedRes && $v.user_res.password.$error" class="invalid-feedback">
                  <span v-if="!$v.user_res.password.required"> {{ 'Vui lòng nhập mật khẩu.' }} </span>
                  <span v-if="!$v.user_res.password.minLength"> {{ 'Mật khẩu ít nhất 6 ký tự.' }} </span>
                </div>
              </div>
        
              <div class="d-flex justify-content-center">
                <button type="submit" class="mt-3 btn btn-submit">Đăng kí</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { required, email, minLength } from "vuelidate/lib/validators";
import { Login, Register } from '@/services/account';

export default {
  name: 'Login',
  data () {
    return{
      user_sign_in: {
        email: "",
        password: "",
        
      },
      user_res: {
        email: null,
        password: null,
        userName: null
        
      },
      submitted: false,
      submittedRes: false,
    }
  },
  validations: {
    user_sign_in: {
      email: {required, email},
      password: {required}
    },
    user_res: {
      email: {required, email},
      password: {required, minLength: minLength(6)},
      userName: {required},
    }
  },

  methods:{
    async onSignIn() {
      this.submitted = true;
      this.$v.user_sign_in.$touch()
      if (this.$v.user_sign_in.$invalid) {
        return;
      }
      let loader = this.$loading.show({ container:  this.$refs.content });
      Login({
        email: this.user_sign_in.email,
        password: this.user_sign_in.password
      })
      .then((data) => {
        this.$toast.success("Login success")
        localStorage.setItem("TOKEN_PL", JSON.stringify(data))
        window.location = '/'
        
      })
      .catch(() => {
        this.$toast.error("Login fail")
      })
      .finally(() => loader.hide())
    },

    async onSigRes() {
      this.submittedRes = true;
      this.$v.user_res.$touch()
      if (this.$v.user_res.$invalid) {
        return;
      }
      let loader = this.$loading.show({ container:  this.$refs.content });
      Register({
        email: this.user_res.email,
        password: this.user_res.password,
        userName: this.user_res.userName
      })
      .then(() => {
        this.$toast.success("Đăng ký thành công")
        
      })
      .catch(() => {
        this.$toast.error("Đăng ký thất bại")
      })
      .finally(() => loader.hide())
       this.submittedRes = false;
    },

    checkLogin(){
      let token = null;
      try{
        token = JSON.parse(localStorage.getItem("TOKEN_PL"))
      }catch(e){console.log(e)}
      if(token){
        this.$router.push({name: 'Home'})
      }
    }
  },

   mounted(){
     this.checkLogin()
   }

}
</script>